<nav class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{{ site.baseurl }}">
        <img src="/assets/images/grupolinux.jpg" style="height:100%; max-height: 50px"/></a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            {% for item in site.data.nav %}
            <li class="nav-item"><a class="nav-link" href="{{ item.link }}">{{ item.name }}</a></li>{% endfor %}
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2 input-search" type="text" placeholder="Search" id="search-input">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" hidden>Search</button>
        </form>
    </div>
</nav>
<br>